POSTGRES_DB=ticketing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DEBUG=False
STUDENT_FULL_NAME=Nombre Completo del Estudiante
STUDENT_SECTION=Sección
STUDENT_YEAR=2026